*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
    --header: #ef8354;
    --bg: #2d3142;
    --text: #ffffff;
    --hover-header: #353535;
    --project: #7d8c91;
}


.inline {
    display: inline;
}

.nav__bar{
    position: fixed;
    top: 0;
    /* might need to change the z-index */ z-index:1;
    background-color: var(--header);
    width: 100%;
    height: 75px;
    border-bottom: 1px solid var(--hover-header);
}

.nav__bar ul{
    
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height: 75px;
}

.nav__bar li {
    display: inline;
    padding: 0.5em 1em;
    height: 75px;
}

.nav__bar li:hover, .nav__bar li:focus{
background-color: var(--hover-header);
}


.nav__links{
    text-decoration: none;
    color: var(--text)
}


.section_welcome{
    background-color: var(--bg);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.section_h1 {
    font-size: 2.5em;
    color: var(--text);
    text-align: center;
}

.section_p {
    font-size: 1em;
    color: var(--text);
    text-align: center;
}






.projects_sec {
      background-color: var(--project);
      }


.projects_sec h2 {
text-align: center;
font-size: 2em;
gap: 1em;
color: var(--text);
justify-content:center;
padding-top: 3em;
}


.projects_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}


.project_tile {
    width: 25%;
    min-width: 300px;
    height: 350px;
    text-decoration: none;
    color: var(--text);
}


.projects_img {
  height:85%;
  width: 100%;
  display:block;
  object-fit: cover;

}


.projects_p {
    text-align: center;
    font-size: 1.5em;
    padding:1rem;
    color: var(--text);
    text-decoration: none;
}



.div_button{
    text-align:center;
    padding-bottom:2rem;
    padding-top:4rem;
    
}

.projects_button {
    color:var(--text);
    background-color:var(--header) ;
padding: 1rem 1.5rem;
cursor:pointer;
}

.projects_button__lt{
font-weight: bold;
}



.section_contact{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:var(--bg);
    gap: 1rem;
}

.contact_heading {
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content:center;
}


.contact_heading h2{
    color: var(--text);
    font-size:3em;
    text-align: center;
}

.contact_h2{
    color:var(--text);
}

.contact_links{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.contact_icons{
    height: 24px;
    width: 24px;
}

.contact_links a{
    text-decoration: none;;
    color:var(--text);
    padding:2rem;
}

.contact_links a:hover{
    transform:translateY(5px);
    transition: transform 0.5s ease;
}


